<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id='ExtraGroup2'>
            <Component Id='CleanOldshortcuts' Guid='' Directory="ProgramMenuDir">
                <RegistryValue Root='HKCU' Key='Software\${Manufacturer}\${ProductName}' Type='string' Value=''
                               KeyPath='yes'/>
                <RemoveFile Id="RemoveOldStartMenuShortcut" On="install" Name='test.lnk'/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>